
<!-- <app-widgets-brand [withCharts]="true" /> -->

<c-row class="mt-4">
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Search Mental Health Conversations</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col xs="6">
                <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">Valid Patient Context</div>
                  <div class="fs-5 fw-semibold">3512</div>
                </div>
              </c-col>
              <c-col xs="6">
                <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">
                    Unique Patient Context
                  </div>
                  <div class="fs-5 fw-semibold">995</div>
                </div>
              </c-col>
            </c-row>
           
          </c-col>

          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col xs="6">
                <div class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">Valid Therapist Response</div>
                  <div class="fs-5 fw-semibold">3508</div>
                </div>
              </c-col>
              <c-col xs="6">
                <div class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
                  <div class="text-body-secondary text-truncate small">Unique Therapist Response</div>
                  <div class="fs-5 fw-semibold">2480</div>
                </div>
              </c-col>
            </c-row>


 
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <form class="example-form" #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
          <div class="btm-margin">
            Ask AI for guidance on how to best help a patient based on previous therapist conversations. 
          </div> 
          <mat-form-field class="example-full-width">
            <mat-label>Request a generated AI response</mat-label>
            <textarea matInput name="question" id="question" ngModel ></textarea>
            <mat-hint align="start">Be spefic. Write Complete sentences. Provide Context. </mat-hint>
          </mat-form-field>
          
          <div class='submit btm-margin'>
            <button  type="submit" mat-flat-button>submit</button>
          </div>
        </form>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >

          <thead class="text-nowrap text-truncate">
          <tr>
          </thead>
          <tbody class="tbody">
            @for (user of users; track user.name; let i = $index) {
              
                <tr>
                  <div [class.flip-row]="!user.aiRes" class="table-wrap">
                    <td [class.text-center2]="user.aiRes">
                      <c-avatar [size]="'md'" src="{{ user.avatar }}" />
                    </td>
                    <td class="td-body">
                      <div>{{ user.name }}</div>
                      <div class="small text-body-secondary text-nowrap">
                      <span class="wrap">
                        |  {{ user.message }}
                      </span>
                      </div>
                    </td>
                  </div>
                </tr>
            }
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
